/* Main Layout */
body {
  font-family: 'Lato', sans-serif;
}

.header,
.main {
  margin: 0 8rem;
}
/* Remove text-decoration from a tags which starts with "#" (navigation, go-up button) */
[href^="#"] {
  text-decoration: none;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .header,
  .main {
    margin: 0 1rem;
  }
}

/* 
  Navigation
*/
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0 8rem 0;
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}
.nav__logo {
  display: flex;
  margin-right: auto;
}

/* 
  About Me
*/
.lead {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.lead__avatar {
  align-self: flex-start;
  border-radius: 50%;
}
.lead__button {
  font-size: 0.75rem;
  align-self: flex-start;
  border: none;
  border-radius: 1.3rem;
  padding: 0.75rem 1.2rem;
  text-transform: uppercase;
}
.lead__content {
  width: 50%;
}
.lead__details {
  padding: 0;
  list-style: none;
}
.lead__details__item {
  display: flex;
}
.lead__overview {
  display: flex;
  flex-flow: row wrap;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .lead__content {
    width: 100%;
  }
}

/* 
  Skills
 */
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid red;
  margin: 0.25rem;
  padding: 2rem 0.75rem;
  justify-content: center;
}
.skill-card__icon {
  text-align: center;
  font-size: 2rem;
}
.skill-card__title {
  text-align: center;
  margin-bottom: 0;
}

/* 
  Projects
*/
.my-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.project {
  margin: 0.5rem;
}

/* 
  Contact
*/
.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.contact-form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid gray;
  width: 50%;
  font-size: 1.3rem;
}
.contact-form__item {
  display: flex;
  flex-direction: column;
}
input[type=text], input[type=email], textarea {
  border: 1px solid gray;
  border-radius: .3rem;
}
input[type=submit] {
  padding: .5rem 1rem;
  border: none;
  border-radius: .7rem;
  margin-top: 1rem;
  align-self: center;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .contact-form {
    width: 70%;
  }
}

/* 
  Footer
*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
  padding: 0 5rem 3rem 5rem;
  background-color: #333333;
  color: white;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__title {
  margin-top: 3rem;
  text-align: center;
}
.go-up {
  position: absolute;
  top: -16%;
  color: white;
  font-size: 1.3rem;
  border-radius: 50%;
  border: 3px solid blue;
  background-color: #333333;
  padding: 1rem;
  align-self: center;
}
.nav-footer {
  margin: 0;
}
.nav-footer .nav__item {
  text-transform: uppercase;
  color: white;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .footer {
    padding: 0 1rem;
  }
}
