/* Variables */
:root {
  /* Colors */
  --light-blue: #3c95ff;
  --heavy-blue: #3773f4;
  --sonic-silver: #757780;
}

/* Main Layout */
html {
  /* Nice scrolling effect */
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
}

.section {
  padding: 0 8rem;
}
.section__title {
  font-size: 2.2rem;
  margin-bottom: 0;
  color: var(--heavy-blue);
}
.section__subtitle {
  font-size: 1rem;
  color: var(--sonic-silver);
}

/* Remove text-decoration for in-site navigation and email,phone "links" */
[href^="#"],
[href^="mailto"],
[href^="tel"] {
  text-decoration: none;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .section {
    padding: 0 1rem;
  }
}

/* 
  Navigation
*/
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}
.nav__item {
  color: white;
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}
.nav__logo {
  color: white;
  display: flex;
  margin-right: auto;
}
/* For mobile devices */
@media (max-width: 575.98px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav__item,
  .nav__logo {
    padding: 1rem;
  }
  .nav__logo {
    margin-right: 1rem;
  }
}

/* 
  Banner
*/
.banner {
  position: absolute;
  width: 100%;
  height: 180%;
  top: -49%;
  left: 0;
  background-image: url("/assets/images/coder-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: -2;
}
.banner::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--heavy-blue);
  opacity: 0.85;
}
.banner-image {
  width: 100%;
  height: 100%;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .banner {
    height: 165%;
  }
}

/* 
  About Me
*/
#about-me {
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 10rem;
}

.lead {
  display: flex;
  flex-direction: column;
  color: white;
}
/* Wrapping avatar so photo always be centred vertically */
.lead__avatar-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.lead__avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lead__button {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 1.3rem;
  padding: 0.75rem 1.2rem;
  text-transform: uppercase;
  color: var(--light-blue);
  background-color: white;
  transition: 0.2s ease;
}
.lead__button:hover {
  transform: scale(1.05);
  color: var(--heavy-blue);
}
.lead__button__icon {
  margin-left: 0.5rem;
  height: 1.1rem;
}
.lead__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lead__details {
  line-height: 2rem;
  padding: 0;
  list-style: none;
}
.lead__details__icon {
  color: white;
}
.lead__details__icon:not(:last-child) {
  margin-right: 1rem;
}
.lead__details__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
}
.lead__details__item a {
  color: white;
}
.lead__overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.lead__paragraph {
  line-height: 1.6rem;
}
.lead__title {
  margin-bottom: 0;
}
.lead__title--strong {
  font-size: 2rem;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  #about-me {
    padding-bottom: 0;
  }
  .lead {
    display: flex;
  }
  .lead__avatar {
    align-self: center;
  }
  .lead__avatar-wrapper {
    width: 150px;
    height: 150px;
    order: 2;
  }
  .lead__button {
    margin: 0 auto;
  }
  .lead__content {
    width: 90%;
    align-items: center;
  }
  .lead__content--info {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .lead__overview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lead__paragraph {
    text-indent: 2rem;
  }
  .lead__title {
    text-align: center;
  }
}
/* For mobile devices */
@media (max-width: 575.98px) {
  .lead__avatar-wrapper {
    order: 0;
  }
  .lead__content--info {
    flex-direction: column;
  }
}

/* 
  Skills
 */
#skills {
  text-align: center;
}
.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.skill-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid var(--sonic-silver);
  margin: 0.25rem;
  padding: 2rem 0.75rem;
  justify-content: center;
}
.skill-card__icon {
  text-align: center;
  font-size: 2.5rem;
  color: var(--light-blue);
}
.skill-card__title {
  text-align: center;
  margin-bottom: 0;
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .skills-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* For mobile devices */
@media (max-width: 575.98px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
  }
}

/* 
  Projects
*/
.my-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.project {
  margin: 0.5rem;
}

/* 
  Contact
*/
.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.contact-form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid var(--sonic-silver);
  width: 50%;
  font-size: 1.3rem;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.contact-form__item {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
input[type="text"],
input[type="email"],
textarea {
  border: 1px solid var(--sonic-silver);
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
input[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.7rem;
  margin-top: 1rem;
  align-self: center;
  transition: ease-in-out 0.1s;
}
input[type="submit"]:hover {
  transform: scale(1.05);
  color: var(--heavy-blue);
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .contact-form {
    width: 70%;
  }
}
/* For mobile devices */
@media (max-width: 575.98px) {
  .contact-form {
    width: 95%;
  }
}
/* 
  Footer
*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
  padding: 0 5rem 3rem 5rem;
  background-color: #333333;
  color: white;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__title {
  margin-top: 3rem;
  text-align: center;
  color: var(--heavy-blue);
}
.go-up {
  position: absolute;
  top: -16%;
  font-size: 1.3rem;
  border-radius: 50%;
  border: 3px solid var(--light-blue);
  color: var(--light-blue);
  background-color: #333333;
  padding: 1rem;
  align-self: center;
  transition: 0.2s ease;
}
.go-up:hover {
  transform: scale(1.05);
  color: white;
}
.nav-footer {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.nav-footer .nav__item {
  text-transform: uppercase;
  color: white;
  flex-shrink: 0;
  transition: 0.15s linear;
}
.nav-footer .nav__item:hover {
  text-transform: uppercase;
  color: var(--heavy-blue);
}
/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .footer {
    padding: 0 1rem;
  }
}
/* For mobile devices */
@media (max-width: 575.98px) {
  .nav-footer .nav__item {
    padding: 0.75rem;
  }
  .footer__content {
    justify-content: center;
  }
}